section div {
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

section {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.blue {
    background-color: #1728c4;
}

.orange {
    background-color: #0adb1c;
}

.red {
    background-color: #ff0000;
}